@import "../../styles/settings.scss";

/*President*/
.hiddenPresident {
  opacity: 0;
}

.guessedPresident {
  background-color: $color-success;
}

td {
  opacity: 1;
  letter-spacing: 0.5px;
  transition: $transition;
}
