@import "./settings.scss";

/*Global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $background-color-light;
  min-height: 100%;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  background: white;
  padding: 10px;
  border-radius: $radius;
  display: inline-block;
  transition: $transition;
  width: 125px;
  margin: 10px 0;
}
