@import "./settings.scss";

/*Global*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

.page {
	background-color: $background-color-light;
	min-height: 100%;
	position: relative;
	padding-bottom: 30px;
	text-align: center;
	padding: 5px;
}

h1 {
	font-size: 28px;
}

h2 {
	margin: 10px 0;
	font-size: 18px;
}

h2,
h1 {
	color: $font-details-color;
	letter-spacing: 0.5px;
	font-family: "Merriweather", Serif;
}

.btn {
	text-transform: uppercase;
	background: $font-color-light;
	padding: 10px;
	border-radius: $radius;
	display: inline-block;
	transition: $transition;
	width: 125px;
	margin: 10px 0;
	outline: none;
}

.App {
	min-width: 280px;
}
