
/*Global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  text-align: center;
}

/*AddPresident*/
input{
  margin: 30px auto;
}

/*PresidentsList*/

table {
  text-align: center;
  border: 1px solid black;
  width: 400px;
  margin: 0 auto;
}

/*President*/
.hiddenPresident {
    opacity: 0;
  }