@import "./styles/settings.scss";

/*AddPresident*/
input {
  margin: 30px auto;
}

/*PresidentsList*/
table {
  text-align: center;
  font-family: "Muli", Sans-Serif;
  font-size: 16px;
  border: 3px solid $font-details-color;
  min-width: 300px;
  width: 50vw;
  min-height: 200px;
  height: 45vh;
  margin: 25px auto;
  border-radius: $radius;
  overflow: hidden;
  box-shadow: 5px 3px $font-details-color;
  border-collapse: collapse;
  color: $font-color-light;
}

tr {
  background-color: $background-color-dark;
}

th {
  background-color: $font-details-color;
  padding: 5px 0;
  text-transform: uppercase;
}

/*President*/
.hiddenPresident {
  opacity: 0;
}

.guessedPresident {
  background-color: green;
}

td {
  opacity: 1;
  letter-spacing: 0.5px;
  transition: $transition;
}

/*StartGame*/
.btn-start {
  color: $color-success;
  border: 4px solid $color-success;
  box-shadow: 2px 1px #535c68;
}

.btn-start:hover {
  background-color: $color-success;
  color: $font-color-light;
  transition: $transition;
  cursor: pointer;
}

/*Clock*/
.lastSeconds {
  color: $color-warning;
}

/*Result*/

.score {
  margin: 15px auto;
}

.gameWin {
  color: green;
}

/*GiveUp*/
.btn-end {
  color: $color-warning;
  border: 4px solid $color-warning;
  box-shadow: 2px 1px #535c68;
}

.btn-end:hover {
  color: $font-color-light;
  background-color: $color-warning;
  transition: $transition;
  cursor: pointer;
}

.hiddenGiveUp {
  visibility: hidden;
}

/*Footer*/

.page-footer {
  background-color: $font-details-color;
  color: $font-color-light;
  font-size: 12px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-footer p {
  line-height: 30px;
  font-family: "Merriweather", Serif;
}
