@import "../../styles/settings.scss";

/*Footer*/

.page {
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer {
  &__description {
    background-color: $font-details-color;
    color: $font-color-light;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-family: "Merriweather", Serif;
  }
}
